In [1]:
import pandas as pd
df = pd.read_csv('output.csv')

In [5]:
df.columns = ['Words', 'Amount_of_words']

In [6]:
df

        Words  Amount_of_words
0     ukraine             1107
1       trump              450
2       biden              363
3    giuliani              151
4   president              131
5        call              123
6        2019              120
7  prosecutor              105
8        news               99
9        says               88